body {
  margin: 0;
  pading: 0;
  background-color: black;
}
.header-element {
  position: relative;
  display: flex;
  justify-content: center;
  align-self: center;
  background-color: black;
  margin-top: 0px;
  padding-top: 0px;
  width: 100%;
  height: 50%;
}
.navigation li a {
  border: 1px solid white;
  padding: 5px;
  border-radius: 10%;
}
.navigation {
  color: white;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-weight: 900;
}
.navigation li {
  padding: 5px 50px 0px 50px;
  font-size: 130%;
}

.navigation li a {
  text-decoration: none;
  color: whitesmoke;
  transition: 0.5s;
}
.navigation li a:hover {
  color: #cd0a0a;
  transition: 0.5s;
}

#mainText {
  display: flex;
  flex-direction: column;
  justify-items: center;
  margin-left: 36%;
  margin-right: 30%;
  margin-top: 15%;
  color: white;
  font-weight: 900;
}
#mainText h1 {
  font-weight: 800;
}
#mainText h3 {
  margin-left: 10%;
}
#mainText {
  background-color: black;
}

.terminal-numbers {
  color: green;
  position: absolute;
  margin-top: 4%;
  margin-left: 0%;
  z-index: -5;
}
.mr-robot-text {
  position: absolute;
  transform: scale(0.2);
  top: 29%;
  left: 13%;
}
#img {
  display: block;
  opacity: 0.4;
}

#img-div {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

#img-caption {
  color: white;
  position: absolute;
  margin-top: 60%;
  border: 5px solid white;
  font-weight: 800;
  padding: 10px;
}

#img-div h1 {
  position: absolute;
  font-size: 800%;
  line-break: auto;
  z-index: -10;
  color: whitesmoke;
  margin-left: 5%;
  margin-top: 12%;
  font-weight: 900;
}
.article {
  margin-top: 6%;
  margin-left: 10%;
  margin-right: 10%;
  color: white;
}

#footer-element {
  display: flex;
  background-color: #cd0a0a;
  width: auto;
  height: 60%;
  padding: 40px;
  justify-content: center;
  color: white;
  margin-top: 3%;
}
.invited:hover {
  background-color: white;
  color: #cd0a0a;
  border-color: #cd0a0a;
  transition: 0.3s;
}
.invited {
  border: 10px solid white;
  padding: 20px;
  transition: 0.5s;
}
